@import 'custom.scss';

$body-bg: rgb(245, 245, 245);

// Carousel
$carousel-control-color: gray;
$carousel-caption-color: gray;
$carousel-indicator-active-bg: gray;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';